@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.darker-grotesque {
  font-family: "Darker Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background-color: #000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar h1 {
    color: white;
}
.sidebar nav ul {
    list-style-type: none;
}

.sidebar nav ul li {
    margin: 15px 0;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.sidebar nav ul li a:hover {
    color: #ff6347; /* Cor de hover */
}

.social-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-footer a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.social-footer a:hover {
    color: #ff6347;
}

.content {
    margin-left: 220px; /* Espaço para a barra lateral */
    padding: 20px;
}

section {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

h1 {
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 1.6;
}